/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;1,300&family=Bebas+Neue&family=Biryani&family=Fredoka+One&family=Lobster&family=Oswald&family=Poppins:wght@400;500&family=Source+Serif+Pro:ital,wght@1,300&display=swap');

/* common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.container {
    display: flex;
    background-color: black;
    border-radius: 30px;
    width: 80%;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* main containts */

.main-Title {
    color: rgb(253, 248, 248);
    padding-left: 106px;
    padding-top: 111px;
    padding-bottom: 111px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.Title {
    font-size: 60px;
}

.main-Title {
    font-size: 25px;
    top: 371px;
}

.image img {
    width: 100%;
    height: 90%;
    margin-top: 21%;
}

button {
    background-color: #DD0000;

    border: none;
    border-radius: 10px;
    padding: 10px 25px 20px 30px;
    font-size: 40px;
    margin-left: 0px;
}

#button {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#ok {
    background-color: red;
}

/* --------------------------------
          Time tables
----------------------------------- */
.Time-Table {
    margin-left: 10%;
    display: flex;
}

.Schedule {
    width: 312px;
    height: 330px;
    background: #161616;
    border-radius: 10px;
}

.match:hover {
    background-color: red;
}

.match {
    text-decoration: none;
    display: flex;
    width: 210px;
    height: 50px;
    left: 180px;
    top: 950px;
    background: #FFFFFF;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;

}

/* Blogs and articles */
.thumbnail img {
    padding-top: 20px;
    padding-right: 20px;
    width: 312px;
    height: 175px;
}

.thumbnail {
    margin-left: 24px;
}

.blog {

    border: 3px solid #E8E8E8;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 26px;

}

.transfer {
    margin-left: 24px;
    background-color: #f9f7f7;
    color: #716060;
    width: 100px;
    height: 30px;
    margin-left: 23px;
    margin-top: 10px;
    text-align: center;
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
}

.transfer a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.blog-info {
    margin-left: 24px;
    margin-bottom: 24px;
}

.Flag img {
    width: 130px;
}

.Flag {
    display: flex;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    font-weight: 500;
}

.info {
    display: flex;
}

.blog-info {
    text-align: center;
}

.match-duration {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Tablet {
    text-decoration: none;
    display: flex;
    margin-left: 40%;
    margin-right: 40%;
    border: 2px solid white;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    border-radius: 8px;

}

/* ------------------footer------------------------ */
footer {
    width: 100%;

    background: #161616;
    bottom: 0%;
}

.Goal {
    font-size: 40px;
    font-weight: 700;
    color: aqua;
    text-align: center;
    padding-top: 50px;
}

hr {

    width: 1320px;
    height: 0px;
    left: 140px;
    top: 2330px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.condition {

    font-weight: 200;
    font-size: 16px;
    line-height: 15px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
}

.social-network {
    display: flex;
    color: #E8E8E8;
    margin-top: 5%;
    font-size: 2em;
    margin-left: 47%;

}

/* --------------------------------------
            Media quaries
-------------------------------------- */
/*============================================
            For mobiles 
 ================================================*/
@media only screen and (max-width: 768px) {

    .Time-Table,
    .container,
    .condition,
    .social-network,
    footer {
        size: 80%;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 768px) {

    .Schedule {
        flex-direction: column;
        margin-left: 10%;
        margin-bottom: 4%;
        grid-template-columns: repeat(1, 1fr);
    }

}

/*-------------------------------------------------
                For Tablet
 ================================================== */
@media only screen and (min-width: 768px) and (max-width:1023px) {

    .Time-Table {
        size: 80%;
        display: wrap;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);

    }

}

@media only screen and (min-width: 768px) and (max-width:1023px) {


    .Schedule {
        display: grid;
        margin-bottom: 4%;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;

    }

}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .match {
        border: 2px solid rgb(248, 241, 241);
        background-color: white;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .containt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .information {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .Tablet {
        background-color: red;
    }

}